// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.bluemarlin {
  position: relative;
  min-width: 400px;
  color: white;
  margin-left: 16px;
}

.bluemarlin .bm-close {
  position: absolute;
  top: 20px;
  right: 16px;
  color: gray;
}

.bluemarlin .bm-tabs {
  border-bottom: 1px solid gray;
  padding-bottom: 4px;
  margin-bottom: 8px;
}

.bluemarlin .bm-tabs a {
  margin-right: 16px;
  color: gray;
}

.bluemarlin .bm-tabs a.selected {
  font-weight: bold;
  color: white;
}

.bluemarlin .bm-view table {
  width: 100%;
}

.bluemarlin pre.dockerfile {
  max-width: 100%;
  overflow: auto;
}

.bluemarlin .log {
  max-width: 400px;
  max-height: 200px;
  overflow: scroll;
}

.bluemarlin .settings-content {
  max-height: 300px;
  overflow: scroll;
}
